.index_header_p{
  padding: 1rem;
}

.index_main{
  float: left;
}

.index_footer{
  float: left;
}

.index_header{
  height: 350px;
  width: 90%;
  margin-left: 5%;
  border-radius: 15px;
  background-color: #fff7e6;
}

.index_img1{
  float: left;
  padding: 20px;
  padding-top: 30px;
  height: 80%;
  width: 15%;
  border-radius: 10%;
}

.index_header_p{
  width: 80%;
  padding: 20px;
  padding-top: 30px;
  font-size: 20px;
}

.index_main{
  height: 150px;
  width: 90%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
  border-radius: 15px;
  background-color: #fff7e6;
}

.index_main_p{
  width: 80%;
  padding-left: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 550px) {
  .index_header{
    height: 500px;
  }

  .index_img1{
    float: center;
    height: 40%;
    width: 40%;
  }

  .index_header_p{
    font-size: 15px;
  }

  .index_main_p{
    font-size: 17px;

  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 550px) {
  .index_header_p{
    padding: 1rem;
  }


  .index_header{
    height: 475px;
    width: 90%;
  }

  .index_img1{
    height: 60%;
    width: 35%;
  }

  .index_header_p{
    width: 90%;
    padding: 20px;
    padding-top: 30px;
    font-size: 17px;
  }

  .index_main{
    height: 125px;
  }

  .index_main_p{
    font-size: 17px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .index_header{
    height: 500px;
  }

  .index_img1{
    height: 70%;
    width: 30%;
  }

  .index_header_p{
    width: 90%;
    font-size: 22px;
  }

  .index_main{
    height: 150px;
    width: 90%;
  }

  .index_main_p{
    width: 80%;
    padding-left: 20px;
    font-size: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .index_header{
    height: 450px;
  }

  .index_img1{
    height: 80%;
    width: 25%;
  }

  .index_header_p{
    width: 90%;
    font-size: 22px;
  }

  .index_main{
    height: 150px;
    width: 90%;
  }

  .index_main_p{
    width: 80%;
    padding-left: 20px;
    font-size: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .index_header_p{
    padding: 1rem;
  }

  .index_main{
    float: left;
  }

  .index_footer{
    float: left;
  }

  .index_header{
    height: 350px;
    width: 90%;
    margin-left: 5%;
    border-radius: 15px;
    background-color: #fff7e6;
  }

  .index_img1{
    float: left;
    padding: 20px;
    padding-top: 30px;
    height: 80%;
    width: 15%;
    border-radius: 10%;
  }

  .index_header_p{
    width: 90%;
    padding: 20px;
    padding-top: 30px;
    font-size: 20px;
  }

  .index_main{
    height: 150px;
    width: 90%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    border-radius: 15px;
    background-color: #fff7e6;
  }

  .index_main_p{
    width: 80%;
    padding-left: 20px;
  }
}
